<header class="bg-white shadow-sm p-4 md:px-8 border-b border-gray-200">
    <nav class="container mx-auto flex justify-between items-center">
        <a href="index.html" class="text-xl font-bold text-gray-900">Jordão Fernandes de Andrade</a>
        <div class="flex space-x-4 md:space-x-8 text-gray-600 font-medium items-center">
            <!-- Os links de navegação serão injetados aqui pelo JavaScript -->
        </div>
        <div class="flex items-center space-x-4">
            <div class="lang-switcher">
                <a href="/index.html" class="lang-btn">PT</a>
                <a href="/en/index.html" class="lang-btn">EN</a>
            </div>
            <button id="theme-toggle" aria-label="Alternar modo escuro" class="p-2 rounded-full hover:bg-gray-200 transition-colors duration-200 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon dark:lucide-sun"><path d="M12 21a9 9 0 0 1-9-9c0-1.28.23-2.5.65-3.61c.42-1.12 1.05-2.13 1.83-3.03a1 1 0 0 1 1.41-1.41c1.03-.9 2.14-1.53 3.3-1.87A1 1 0 0 1 12 3h.01c.2 0 .39.02.58.05a1 1 0 0 1 .74.96c.03.2.04.4.04.6a1 1 0 0 1-1.02.99c-2.3 0-4.49 1.1-5.94 3.01a8.97 8.97 0 0 0-1.87 3.3c-.34 1.16-.51 2.33-.51 3.55a9 9 0 0 0 9 9Z"/><path d="M16 8a4 4 0 0 1 4 4v.01c0 2.3-1.1 4.49-3.01 5.94a9 9 0 0 0-3.3 1.87c-1.16.34-2.33.51-3.55.51a9 9 0 0 1-9-9c0-1.28.23-2.5.65-3.61c.42-1.12 1.05-2.13 1.83-3.03"/></svg>
            </button>
        </div>
    </nav>
</header>
